<html>
<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <style>
    body{
      background-color:#7986CB;
    }
    .header{
      font-family: 'Raleway', sans-serif;
      color:#1A237E;
    }
    .author{
      font-size: 27px;
    }
    .markdown{
      background-color: black;
      color:white;
      border-radius: 20px;
    }
    .text{
      color:#1A237E;
    }
  </style>
</header>
<body>
  <h1 class="text-center header">freeCodeCamp Timestamp Microservice Project</h1>
  <h2 class="text-center header author">By: Ryan A</h2>
  <h3 class="header">How to use:</h1>
  <p class="text">Add a date to the url like [https://url.com/December 15,2015] or add a unix timestamp like [1450137600] and then it will output JSON with the unix timestamp and natural langauge form [ { "unix": 1450137600, "natural": "December 15, 2015" } ]</p>
</body>
</html>
